html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
       display: block;
}
body {
       line-height: 1;
}
ol, ul {
       list-style: none;
}
blockquote, q {
       quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
       content: '';
       content: none;
}
table {
       border-collapse: collapse;
       border-spacing: 0;
}

@font-face {
    font-family: 'neusa_boldregular';
	src: url('Neusa/Neusa-Bold-webfont.eot');
    src: url('Neusa/Neusa-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Neusa/Neusa-Bold-webfont.woff') format('woff'),
         url('Neusa/Neusa-Bold-webfont.ttf') format('truetype'),
         url('Neusa/Neusa-Bold-webfont.svg#neusa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'opensans_regular';
	src: url('Open-sans/opensans-regular-webfont.eot');
    src: url('Open-sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Open-sans/opensans-regular-webfont.woff') format('woff'),
         url('Open-sans/opensans-regular-webfont.ttf') format('truetype'),
         url('Open-sans/opensans-regular-webfont.svg#neusa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'opensans_bold';
	src: url('Open-sans/opensans-bold-webfont.eot');
    src: url('Open-sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Open-sans/opensans-bold-webfont.woff') format('woff'),
         url('Open-sans/opensans-bold-webfont.ttf') format('truetype'),
         url('Open-sans/opensans-bold-webfont.svg#neusa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clear{
	clear:both;
	}

body{
	background-color:#f1f3f6;
	font-family:"opensans_regular", Arial;
	}

	
h1, h2, h3{
	font-family:"neusa_boldregular", Arial;
	color:#232323;
	text-transform:uppercase;
	}

h2{
	font-size:21px;
	padding-bottom:10px;
	}

p{
	font-size:12pt;
	}

a{
	text-decoration:none;
	font-family:"opensans_bold", Arial;
	color:#333333;
	}

a:hover{
	 color:#ff4100;
	}
  
.tag-link{
	margin-top:20px;
	}
  
.tag-link a{
	font-family:"opensans_bold", arial;
	text-transform:uppercase;
	color:#858585;
	padding:0 4px;
}

.tag-link a:hover{
	 color:#ff4100;
	}
	
button{
	font-family:"opensans_bold", Arial;
	}
	


/*--HEADER--*/

#header {
  background:#232323;
  width:100%;
  padding:7px 0;
  height:50px;
  text-align:center;
  margin:0 auto;
  position:relative;
  color:#fff;
}

#header .content {
  width:960px;
  text-align:left;
  margin:0 auto;
  position:relative;
}

#header a {
  text-transform:uppercase;
  font-size:13px;
}

#header a:hover{
	color:#ff4100;
}

#header .logo {
  float:left;
  margin-right:30px;
  display:block;
  width:121px;
  height:51px;
  background:url('images/jokeio_logo_white.png') no-repeat;
  position:relative;
  color:#fff;
  margin-left:20px;
  margin-top:-7px;
}

#header .browse {
  color:#fff;
  float:left;
  margin-right:30px;
  font-weight:500;
  position:relative;
  top:20px;
}

#header .account {
  position:absolute;
  top:11px;
  right:0;
  z-index:1000;
  margin-right:210px;
}

#header .account .name {
  float:left;
  margin-right:15px;
  position:relative;
  top:10px;
  min-width:50px;
  text-align:right;
  text-transform:capitalize;
  font-family:"opensans_regular", arial;
  font-size:14px;
}

#header .user .dropdown {
  padding:10px;
  background:#fff;
  -webkit-border-radius:5px 0 5px 5px;
  -moz-border-radius:5px 0 5px 5px;
  border-radius:5px 0 5px 5px;
  position:relative;
  top:-2px;
  display:none;
  -webkit-box-shadow:0 0 10px rgba(0,0,0,.25);
  -moz-box-shadow:0 0 10px rgba(0,0,0,.25);
  box-shadow:0 0 10px rgba(0,0,0,.25);
}

#header .user:hover .dropdown {
  display:block;
}

#header .user .dropdown li {
  padding:2px 0;
}

#header .user .dropdown a {
  font-size:11px;
}

#header .user .img {
  display:inline-block;
  padding:5px 5px 0 5px;
  -webkit-border-radius:5px 5px 0 0;
  -moz-border-radius:5px 5px 0 0;
  border-radius:5px 5px 0 0;
  position:relative;
  top:-2px;
  z-index:2000;
}

#header .user:hover .img {
  background:#fff;
}

#header .user .dropdown a {
  color:#333;
}

#header .user .dropdown a:hover{
 color:#ff1400
}

#header .submit {
  position:relative;
  top:18px;
  border:1px solid #f1f2f3;
}

#header .submit:hover{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 53%, #f1f3f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(53%,#ffffff), color-stop(100%,#f1f3f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 53%,#f1f3f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 53%,#f1f3f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 53%,#f1f3f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 53%,#f1f3f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f3f6',GradientType=0 ); /* IE6-9 */

box-shadow: inset 0px -1px 7px #cdcecf;
text-shadow:0px 1px white;
}

#header .submit:active{
background: #f1f3f6; /* Old browsers */
background: -moz-linear-gradient(top,  #f1f3f6 0%, #ffffff 24%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f3f6), color-stop(24%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f1f3f6 0%,#ffffff 24%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f1f3f6 0%,#ffffff 24%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f1f3f6 0%,#ffffff 24%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f1f3f6 0%,#ffffff 24%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f3f6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
box-shadow: inset 0px 1px 7px #cdcecf;
text-shadow:0px 1px white;
}

#header .account a {
  color:#fff;
}

#header .account a.button {
  color:#ff4100;
  margin-left:10px;
}

#search {
  float:right;
  margin:0 25px;
  position:relative;
  top:10px;
 
}

#search .query {
  width:165px;
  height:28px;
  padding-left:10px;
  border:none;
  font-size:13px;
border-radius:3px;
}

#header a.sign_out {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}


.left {
  float: left;
}

.right {
  float: right;
}

button {
  background-color:transparent;
  border:none;
}

button:hover {
  cursor:pointer;
}

.button {
  background:#fff;
  color:#ff4100;
  padding:10px 15px 10px 15px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  font-size:13px;
}

.button:hover {
  background:#fff;
  text-decoration:none;
}

.button.disabled:hover,
.button.disabled {
  background:#faf8f2;
  color:#999;
  cursor:default;
}

.orange_button {
  background:#ff4100;
  color:#fff;
  padding:15px 15px 10px 15px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  font-weight:600;
  font-size:13px;
}

button.follow,
button.follow:hover {
  
  color:#fff;
}

button.following:hover,
button.following {
  background:#faf8f2;
  color:#ff4100;
}

.orange_button:hover {
  background:#ff5b00;
  text-decoration:none;
}

#page {
  width:920px;
  padding:20px;
  margin:0 auto;
  text-align:left;
}


#nav {
  position:absolute;
  top:11px;
  right:213px;
}

#nav a {
  font-size:12px;
}

#nav > li {
  float:left;
  margin-right:20px;
  position:relative;
  padding:10px;
}

#nav ul {
  display:none;
  background:#f2f2f2;
  padding:5px 10px 5px 10px;
  position:absolute;
  left:0;
}

#nav ul li {
  margin-bottom:5px;
}

#nav > li:hover {
  background:#f2f2f2;
}

#nav li:hover ul {
  display:block;
  position:absolute;
}

.img {
  position:relative;
  overflow:hidden;
}


/*--BROWSE--*/


#page {
  background:#fff;
}

#page #sign_up {
  text-align:center;
  padding:20px 0 50px 0;
}

#browse {
  padding-bottom:100px;
}

#browse .sidebar {
  width:210px;
  padding-right:20px;
  border-right:19px;
  border-right:1px solid #eee;
  margin-right:20px;
  float:left;
}

#browse .stream {
  width:660px;
  float:left;
}

#browse .stream .img {
  width:130px;
  height:130px;
  margin:0 5px 10px 0;
}

#browse .stream .img img {
  width:130px;
}

#browse .stream h2 .button {
  background:#f1f3f6;
  padding:6px 7px 5px 7px;
  display:inline-block;
  color:#aaa;
  position:relative;
  top:-2px;
  margin-left:7px;
}

#browse .stream h2 .button span {
  text-transform:uppercase;
  color:#888;
}

#browse li.joke {
  clear:left;
  border-bottom:1px solid #f2f2f2;
  margin-bottom:20px;
  height:135px;
}

#browse li.joke .author {
  background:#f1f3f6;
  float:left;
  width:505px;
}

#browse li.joke .author .joke_name {
font-family:"neusa_boldregular", arial;
-webkit-font-smoothing: antialiased;
text-transform:uppercase;
  font-size:31px;

}

#browse li.joke .author .name {
  padding-bottom:6px;

}

#browse ul.joke_list .name{
    padding-top:6px;
    }

#browse li.joke .tags {
  font-family:"neusa_boldregular", arial;
  font-size:13px;
  text-transform:uppercase;
  padding:4px 0;
}

#browse li.joke .tags a {
  padding:0;
  background:transparent;
  color:#7b7b7b;
}

#browse li.joke .tags a:hover {
  color:#ff1400;
}

#browse li.joke .rating {
  position:relative;
  left:auto;
  top:auto;
  float:left;
}

li.joke .rating button {
  background:transparent;
  color:#333;
  margin-right:10px;
  font-family:"neusa_boldregular", arial;
}

li.joke .rating .beer{
background:url('images/sprite.png') no-repeat -32px 8px;
}

li.joke .rating .beer:hover{
background:url('images/sprite.png') no-repeat -32px -72px;
color:#6fba08
}

li.joke .rating .beer:active{
background:url('images/sprite.png') no-repeat -32px -152px;
color:#447302
}

li.joke .rating .tomato{
background:url('images/sprite.png') no-repeat -32px -32px;
}

li.joke .rating .tomato:hover{
background:url('images/sprite.png') no-repeat -32px -112px;
color:#f60101
}

li.joke .rating .tomato:active{
background:url('images/sprite.png') no-repeat -32px -192px;
color:#ac0301
}

li.joke .rating button .icon {
  width:24px;
  height:24px;
}

li.joke .rating button span {
  font-size:15px;
  position:relative;
  top:2px;
}

#browse .pagination {
  text-align: center;
  width: 100%;
  margin-top: 8px;
}

#browse .pagination .page {
  padding: 10px;
}

#browse .pagination .current.page {
  color: #ff5526;
  font-family:"opensans_bold", arial;
}

#browse #popular_jokes {
  border-bottom:1px solid #f2f2f2;
  margin-bottom:30px;
}

#browse #popular_jokes li.joke {
  height:auto;
}

#browse #popular_jokes li.joke .img {
  width:50px;
  height:50px;
}

#browse #popular_jokes li.joke .img img {
  width:40px;
}

#browse #popular_jokes li.joke .author {
  background:transparent;
  height:auto;
  width:auto;
  padding:10px 0 0 0;
}

#browse #popular_jokes li.joke .author .name a{

  font-family:"opensans_regular", arial;
  font-size:12px;
}

#browse #popular_jokes li.joke .joke_name {
  font-family: "opensans_bold",arial;
  text-transform:capitalize;
  font-size:14px;
}

#browse #popular_jokes li.joke .joke_name span{
  padding-bottom:4px;
  }

#browse #popular_jokes li.joke .joke_name .play {
  width:16px;
  height:16px;
  background-position:-40px -240px;
  margin-left:5px;
  top:-2px;
}

#browse #popular_jokes li.joke .joke_name .play:hover {
  background-position:-40px -260px;
}

#browse #popular_jokes li.joke .joke_name .play:active {
  background-position:-40px -280px;
}

#browse #popular_jokes li.joke .tags,
#browse #popular_jokes li.joke .rating {
  display:none;
}

#browse #recommended_comedians {
  border-bottom:1px solid #f2f2f2;
  margin-bottom:30px;
}

#browse #recommended_comedians li.user {
  border-top:1px solid #f2f2f2;
  padding:7px;
  clear:left;
  height:23px;
  margin-bottom:7px;
}

#browse #recommended_comedians li.user .img {
  width:30px;
  height:30px;
  float:left;
  margin-right:10px;
}

#browse #recommended_comedians li.user .img img {
  width:30px;
}

#browse #recommended_comedians li.user .author {
  font-family: "helvetica neue LT pro",arial;
  font-size: 13px;
  padding-top:10px;
  text-transform:capitalize;
}

#browse #tag_cloud a {
  background: #f1f3f6;
  border: 1px solid #e3e5e8;
  color:#858585;
  padding:3px 5px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  font-size:11px;
  display:inline-block;
  margin:0 5px 8px 0;
  text-transform:uppercase;
}

#browse #tag_cloud a:hover{
text-decoration:none;
  -webkit-box-shadow: inset 0px -1px 2px #e4e6e8;
box-shadow: inset 0px -1px 2px #e4e6e8;
border: 1px solid #e3e5e8;
text-shadow:0px 1px white;
  color:#ff4100;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f3f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f3f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f3f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f1f3f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f1f3f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f3f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f3f6',GradientType=0 ); /* IE6-9 */
}

#browse #tag_cloud a:active{
 text-decoration:none;
  -webkit-box-shadow: inset 0px 1px 2px #e4e6e8;
box-shadow: inset 0px 1px 2px #e4e6e8;
border: 1px solid #e3e5e8;
text-shadow:0px 1px white;
  color:#ff4100;
background: #f1f3f6; /* Old browsers */
background: -moz-linear-gradient(top,  #f1f3f6 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f3f6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f1f3f6 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f1f3f6 0%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f1f3f6 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f1f3f6 0%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f3f6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }

/*--JOKE--*/
li.joke {
  position:relative;
}

li.joke .author {
  padding:5px 10px;
  font-size:13px;
  line-height:1.2;
}

li.joke .author .name {
  font-size:14px;
  clear:left;
}

li.joke {
  border-bottom:1px solid #e9e9e9;
  height:45px;
  position:relative;
}

li.joke img {
  width:50px;
}

li.joke .img {
  float:left;
  margin:7px 0px 0 7px;
  width:50px;
  height:50px;
  position:relative;
  overflow:hidden;
}

li.joke .delete {
  position:absolute;
  left:-16px;
  top:50%;
  margin-top:-8px;
  width:16px;
  height:16px;
  background:url('/images/sprites.png') no-repeat -24px -408px;
  opacity:.15;
}

li.joke .delete:hover {
  opacity:1;
}

li.joke .author .joke_name span,
li.joke .author .joke_name a {
  float:left;
}

li.joke .author .joke_name .play {
  width:24px;
  height:24px;
  display:inline-block;
 background:url('images/sprite.png') no-repeat 0px -180px;
  float:left;
  margin-left:8px;
  position:relative;
  top:6px;
}

li.joke .author .joke_name .play:hover{
background:url('images/sprite.png') no-repeat 0px -220px;
}

li.joke .author .joke_name .play:active{
background:url('images/sprite.png') no-repeat 0px -260px;
}

li.joke .joke_actions{
	float:right;
	padding:6px 0;
}

li.joke .joke_actions .add_queue span{
	padding-left:12px;
	}

li.joke .joke_actions button.add_queue{
background:url('images/sprite.png') no-repeat 0px -617px;
position:relative;
  top:2px;
  margin-left:8px
}

li.joke .joke_actions button.add_queue:hover{
background:url('images/sprite.png') no-repeat 0px -637px;
}

li.joke .joke_actions button.add_queue:active{
background:url('images/sprite.png') no-repeat 0px -657px;
}

li.joke .joke_actions .joke_share span{
	padding-left:12px;
	}

li.joke .joke_actions button.joke_share{
background:url('images/sprite.png') no-repeat 0px -557px;
position:relative;
  top:2px;
  margin-left:8px
}

li.joke .joke_actions button.joke_share:hover{
background:url('images/sprite.png') no-repeat 0px -577px;
}

li.joke .joke_actions button.joke_share:active{
background:url('images/sprite.png') no-repeat 0px -597px;
}

.rating {
  position:absolute;
  top:8px;
  right:0;
}

.rating button {
  padding:8px;
  margin:0;
}

.rating .beer .icon {
  float:left;
  margin-right:5px;
}

.rating .tomato .icon {
  float:left;
  margin-right:5px;
}

/*--PLAYER--*/
#player {
  position:fixed;
  width:960px;
  width:100%;
  height:80px;
  bottom:0;
  background:#232323;
  color:#fff;
  text-align:center;
  z-index:1000;
}

#player a {
  color:#fff;
}

#player .controls {
  width:735px;
  text-align:left;
  margin:0 auto;
  padding-top:25px;
}

#player .controls button {
  width:33px;
  height:31px;
  background-image:url('images/sprite.png');
}

#player .controls button.back {
  background-position:-66px -31px;
}

#player .controls button.play {
  width:48px;
  height:48px;
  background-position:0px -300px;
  position:relative;
  top:-8px;
  margin-right:5px;
}

#player .controls button.play:hover {
  background-position:0px -360px;
}

#player .controls button.play:active {
  background-position:0px -420px;
}


#player .controls button.pause {
  width:48px;
  height:48px;
  background-position:0 -48px;
  position:relative;
  top:-8px;
  margin-right:5px;
}

#player .controls button.pause:hover {
  background-position:0 0;
}

#player .controls button.forward {
  background-position:-60px -300px;
  position:relative;
  top:2px;
}

#player .controls button.forward:hover {
  background-position:-60px -360px;
}

#player .controls button.forward:active {
  background-position:-60px -420px;
}

#player .controls button.beer {
background-position:0px 0px;
  position:relative;
  top:2px;
}

#player .controls button.beer:hover {
background-position:0px -480px;
}

#player .controls button.beer:active {
background-position:0px -520px;
}

#player .controls button.tomato {
background-position:0px -40px;
  position:relative;
  top:2px;
}

#player .controls button.tomato:hover {
background-position:0px -80px;
}

#player .controls button.tomato:active {
background-position:0px -120px;
}

#player .controls button.radio {
background-position:-60px -460px;
  position:relative;
  top:2px;
}

#player .controls button.radio:hover {
background-position:-60px -500px;
}

#player .controls button.radio:active {
background-position:-60px -540px;
}

#player .controls button.share {
background-position:-100px -460px;
  position:relative;
  top:2px;
}

#player .controls button.share:hover {
background-position:-100px -500px;
}

#player .controls button.share:active {
background-position:-100px -540px;
}

#player .controls button.list {
background-position:-140px -460px;
  position:relative;
  top:2px;
}

#player .controls button.list:hover {
background-position:-140px -500px;
}

#player .controls button.list:active {
background-position:-140px -540px;
}

#player .author {
  font-size:13px;
}

#player .author img {
  float:left;
  margin-right:10px;
  width: 35px;
  height: 35px;
}

#player .author span {
  position:relative;
  top:13px;
}

#player .current_joke {
  float:left;
  width:430px;
  margin-right:5px;
  height:36px;
  padding:7px;
  background:#161616;
  position:relative;
  top:-9px;
  -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,.29);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.29);
  box-shadow:         inset 0 0 10px rgba(0,0,0,.29);
}

#player .current_joke .loading {
  display: none;
  background: rgba(255, 255, 255, 0.92);
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

#player .current_joke .loading .image {
  width: 40px;
  height: 40px;
  position: relative;
  top: 5px;
  left: 10px;
  float: left;
}

#player .current_joke .loading .image img {
  width: 40px;
  height: 40px;
}

#player .current_joke .loading .message {
  float: left;
  color: #000;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: 18px;
  left: 24px;
}

#player .buttons {
  float:left;
  margin-right:15px;
}

#player .track {
  width:340px;
  height:7px;
  background:url('/images/player_track.png') no-repeat;
  margin:5px 10px 0 0;
  float:left;
  position:relative;
}

#player .fill {
  position:absolute;
  top:0;
  left:0;
  height:7px;
  background:url('/images/player_track_active.png') repeat-x;
}

#player .fill .left_side {
  position:absolute;
  width:4px;
  height:7px;
  left:-2px;
  top:0;
  background:url('/images/player_track_active_left.png') no-repeat;
}

#player .fill .handle {
  width:14px;
  height:14px;
  background:url('/images/player_track_handle.png') no-repeat;
  position:absolute;
  top:-2px;
  right:-3px;
}

#player .timer {
  position:absolute;
  font-size:12px;
  top:21px;
  right:10px;
}

#player .actions {
  position:relative;
  top:4px;
  float:left;
}

#player .actions .action, #player .loading .action {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #fff;
}

#player .actions .action.active, #player .loading .action.active {
  /* background-color: #FF4000; */
}

#player .actions .beer {
  width:35px;
  height:35px;
  background-color:transparent;
  background-image:url('/images/sprites.png');
  background-position: -216px -168px;
  margin-left:5px;
  position:relative;
  top:-2px;
  margin-left:10px;
}

#player .actions .beer.active {
  background-position: -216px -168px;
  width:35px;
  height:35px;
}

#player .actions .tomato {
  width:35px;
  height:35px;
  background-color:transparent;
  background-image: url('/images/sprites.png');
  background-position: -216px -120px;
  position:relative;
  top:-2px;
}

#player .actions .tomato.active {
  background-image: url('/images/sprites.png');
  background-position: -216px -120px;
}

#player .actions .share {
  width:16px;
  height:17px;
  background:url('/images/sprites.png') 0 -96px no-repeat;
  margin-left:10px;
  position:relative;
  top:3px;
}

#player .actions .list {
  width:16px;
  height:17px;
  background:url('/images/sprites.png') -24px -96px no-repeat;
  margin-left:5px;
  position:relative;
  top:5px;
}

#player .loading .action.flag {
  width: 33px;
  height: 30px;
  background-image: url('/images/sprites.png');
  background-position: -17px -138px;
  position: absolute;
  top: 0;
  right: 0;
}

#player .loading .action.flag.active {
  background-position: 0px -142px;
}

/*--PROFILE--*/
#page {
  background:#fff;
  padding:25px;
  min-height:500px;
  padding-bottom:100px;
}

#profile .user {
  width:244px;
  float:left;
  margin-right:35px;
  border-right:1px solid #eee;
}

#profile .user h2 {
  font-size:30px;
}

#profile .user .rank {
  font-size:12px;
  padding-bottom:10px;
  font-family:"opensans_bold", arial;
}

#profile .user .img {
  width:210px;
  height:210px;
  margin-bottom:15px;
}

#profile .user .img img {
  width:210px;
}

#profile .stats {
  width:340px;
  float:left;
}

#profile .user .icon {
  width:20px;
  height:20px;
  float:left;
  margin-right:5px;
}

#profile .user div.location,
#profile .user div.website,
#profile .user div.twitter {
  height:26px;
  font-size:12px;
}

#profile .user div.location{
border-top:1px solid #eeeeee;
margin-top:10px;
padding-top:10px;
width:221px;
}

#profile .user .location .icon {
  background:url('images/sprite.png') no-repeat -100px -620px;
}

#profile .user .website .icon {
  background:url('images/sprite.png') no-repeat -100px -640px;
}

#profile .user .twitter .icon {
  background:url('images/sprite.png') no-repeat -100px -660px;
}

#profile .stats .icon {
  width:24px;
  height:40px;
  float:left;
  background-image:url('images/sprite.png');
  position:relative;
  top:-10px;
}

#profile .stats .followers,
#profile .stats .beers,
#profile .stats .tomatoes {
  width:78px;
  float:left;
  padding:3px 0;
  
  font-family:"opensans_bold", arial;
}

#profile .stats .beers {
  border-right:1px solid #eeeeee;
  margin-right:20px;
  padding-right:20px;
  font-size:14px;
}

#profile .stats .beers .icon {
  background-position:-120px -640px;
  height:14px;
  top:0px;
}

#profile .stats .followers {
  clear:both;
  width:221px;
  border-width:1px;
	border-style:solid; 
	border-color:#eeeeee #fff;
	padding-bottom:4px;
	margin-bottom:10px;
}

#profile .stats .followers .stat {
  padding-top:4px;
  font-size:24px;
}

#profile .stats .followers button {
background:#6f239d;
  float:right;
  padding:5px 0;
  width:124px;
}

#profile .stats .followers .icon {
  background-position:-120px -620px;
  height:14px;
  top:6px;
}

#profile .stats .earnings {
  clear:both;
  padding-top:40px;
}

#profile .stats .earnings button {
  padding:5px 10px;
  position:relative;
  top:-8px;
}

#profile .stats .earnings h1 {
  font-size:35px;
  font-weight:bold;
  letter-spacing:1px;
}

#profile .stats .bio {
  clear:both;
  padding-top:40px;
}

#profile .stats .tomatoes {
	font-size: 14px;
}

#profile .stats .tomatoes .icon {
  background-position:-120px -660px;
  height:14px;
  top:0px;
}

#profile .share {
  padding-top:15px;
  border-width:1px;
  border-color:#eeeeee #fff;
  border-style:solid;
  height:36px;
  margin-bottom:10px;
  width:221px;
  clear:both;
}

#profile .share span{
	font-family:"opensans_bold", arial;
	font-size:12px;
	}

#profile .share a {
  float:right;
  margin-right:15px;
  width:26px;
  height:26px;
  position:relative;
  overflow:hidden;
  text-indent:-999px;
  background-image:url('images/sprite.png');
}

#profile .share a.twitter {
  background-position:0px -720px;
}

#profile .share a.facebook {
  background-position:0px -680px;
}

#profile .share a.google {
  background-position:0px -760px;
}

#profile .joke_list {
  float:left;
  width:630px;
}

#profile li.joke {
  clear:left;
  border-bottom:1px solid #f2f2f2;
  margin-bottom:20px;
  height:135px;
}

#profile li.joke .author {
  background:#f1f3f6;
  float:left;
  height:70px;
  width:475px;
  width:610px;
}

#profile .joke_list h2 {
  font-size:20px;
  text-transform:uppercase;
}

#profile .joke_list .img {
  width:130px;
  height:130px;
  margin:0 5px 10px 0;
  display:none;
}

#profile .joke_list .img img {
  width:130px;
}

#profile li.joke .author .joke_name {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  text-transform: uppercase;
  font-size: 24px;
  font-weight:bold;
  padding-bottom:10px;
}

#profile li.joke .author .name {
  padding-bottom:6px;
}

#profile li.joke .author .name a {
  font-weight:bold;
}

#profile li.joke .tags {
  font-family:"HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  font-size:13px;
  text-transform:uppercase;
}

#profile li.joke .tags a {
  padding:0;
  background:transparent;
  color:#7b7b7b;
  letter-spacing:1px;
}

#profile li.joke .rating {
  position:relative;
  left:auto;
  top:auto;
  float:left;
}

/*#profile li.joke .rating button {
  background:transparent;
  color:#333;
  margin-right:10px;
}

#profile li.joke .rating button .icon {
  width:24px;
  height:24px;
}

#profile li.joke .rating button span {
  font-size:13px;
  position:relative;
  top:3px;
}

#profile li.joke .rating button.beer .icon {
  background-position:0 -432px;
}

#profile li.joke .rating button.tomato .icon {
  background-position:-24px -432px;
}*/

#profile .bio {
  font-size:14px;
  line-height:17px;
  width: 220px;
}

#profile .hire_me {
  padding:0 0 15px 0;
}

#profile .hire_me a {
  width:191px;
  text-align:center;
  display:block;
}

#profile .upsell {
  background:#fe4100;
  padding:20px;
  color:#fff;
  margin-bottom:30px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

#profile .upsell .button {
  float:right;
}

#profile .upsell .title {
  font-size:21px;
  font-weight:bold;
  padding-bottom:7px;
}

#profile .upsell .sub {
  font-size:17px;
}

/* signup popup */
.sign_in {
  text-align:center;
}

.fields {
  width:400px;
  text-align:left;
  margin:20px auto;
}

.fields input {
  width:200px;
  padding:10px;
}

.fields label {
  width:100px;
  float:left;
  padding-right:10px;
  text-align:right;
  padding-top:14px;
}

.fields .field {
  clear:left;
  padding-bottom:10px;
}

.submit_button {
  text-align:center;
  padding-bottom:10px;
}

.sign_in .orange_button {
  padding:10px 20px;
}

.buttons .button {
  margin-right:20px;
}

.sign_in {
  background:#f1f3f6;
  padding:50px;
  position:absolute;
  top:70px;
  left:50%;
  width:500px;
  margin-left:-300px;
  z-index:2013;
  border:7px solid rgba(0,0,0,.7);
}

.sign_in h1 {
  font-size:30px;
  font-weight:bold;
  font-family:"HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  margin-bottom:25px;
}

.sign_in .logo {
  margin-bottom:25px;
}

#sign_up_link,
#sign_in_link {
  font-size:13px;
  color:#666;
}

.sign_in .facebook,
.sign_in .twitter {
  margin:0 15px;
}

button.close {
  width:16px;
  height:16px;
  background:url('/images/sprites.png') no-repeat -24px -408px;
  position:absolute;
  top:20px;
  right:20px;
}

#black_screen {
  width:100%;
  height:100%;
  background:rgba(0,0,0,.5);
  position:fixed;
  top:0;
  left:0;
  z-index:2012;
}

.sign_in .or {
  padding-top:20px;
  font-family:"HelveticaNeue-CondensedBold", "Helvetica Neue",arial;
  font-size:15px;
  font-weight:bold;
}

.sign_in input.text {
  background:#fff;
}